/* =============================================  ALL  ============================================= */
/* =============================================  ALL  ============================================= */

html, body {
    font-family: "Lato", sans-serif;
}

:root {
    --bg-button-liner: linear-gradient(45deg, var(--main-red) 0%, var(--main-orange) 100%);
    --main-red: #ff3f3a;
    --main-orange: #f75e05;
    --card-shadow: rgba(230, 232, 236, 0.322);
    --gray200: #f4f5f6;
    --gray300: #E8EBEF;
    --gray400: #ebecee;
    --gray500: #a6aaaf;
    --gray600: #9A9CA5;
    --gray700: #787a80;
    --gray800: #424551;
    --gray900: #1e212c;
    --gray1000: #292c37;
    --footer-title: #fff;
    --footer-link: #fff;
}

.wrapper {
    width: 100%;
    overflow-x: hidden;
}


.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 50;
    background-color: #6d6d6d6c;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.overlay--show {
    visibility: visible;
    opacity: 1;
}

.burger {
    display: none;
}

.header {
    background: url("../images/Elements/Header-main-decorations.svg") 95% 0% / 95% 80% no-repeat, #feddd0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.logo {
    cursor: pointer;
}

.button {
    display: inline-block;
    font-size: 16px;
    padding: 0px 40px;
    background: var(--bg-button-liner);
    line-height: 52px;
    font-weight: 700;
    color: #FFF;
    letter-spacing: 0.5px;
    border-radius: 4px;
    white-space: nowrap;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.button:hover {
    transform: scale(1.05);
}

.button--empty {
    background-image: none;
    border-left: 2px solid var(--main-red);
    border-right: 2px solid #f75e05;
    background-image: linear-gradient(to right, var(--main-red), #f75e05),
        linear-gradient(to right, var(--main-red), #f75e05);
    background-size: 100% 2px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    background-clip: border-box;
    cursor: pointer;
}

.button--empty span {
    background: var(--bg-button-liner);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading {
    color: #1e212c;
}

.heading--text-center {
    text-align: center;
}

.heading :nth-child(1):not(:is(button, a, svg)) {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.heading :nth-child(2):not(:is(button, a, svg)) {
    font-weight: 900;
    font-size: 38px;
    line-height: 1.3;
}

/* =============================================  HEADER TOP  ============================================= */
/* =============================================  HEADER TOP  ============================================= */

.header__top-inner {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #424551;
    font-size: 16px;
}

.header__top {
    padding-top: 20px;
}

.header__logo {
    margin-right: 60px;
}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-list li:not(:last-child) {
    margin-right: 40px;
}



.header__btn-box {
    display: flex;
    align-items: center;
}

.header__user {
    white-space: nowrap;
    position: relative;
    padding-left: 28px;
    margin-left: 36px;
    line-height: 1.6;
}

.header__user::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    background: url("../images/Elements/Profile.svg");
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
}

:is(.header__nav-link, .header__user-btn) {
    transition: color 0.3s ease;
}

:is(.header__nav-link, .header__user-btn):hover {
    color: var(--main-red);
}

/* =============================================  HEADER BODY  ============================================= */
/* =============================================  HEADER BODY  ============================================= */

.header__body {
    flex-grow: 1;
}

.header__body-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.header__body-inner::before {
    content: "";
    position: absolute;
    bottom: -100px;
    left: -454px;
    background: url('../images/Elements/Header-circle.svg') center / cover no-repeat;
    width: 284px;
    height: 284px;

}

.header__main {
    display: flex;
    justify-content: space-between;
    margin: auto 0;
}

.header__content {
    max-width: 496px;
}

.header__play {
    display: inline-flex;
    align-items: center;
    height: 84px;
    font-size: 14px;
    font-weight: 700;
    color: #1E212C;
    line-height: 1.5;
}

.header__play svg {
    margin-right: 16px;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
}

.header__play:hover svg {
    box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
}

.header__title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: 0.02em;
    min-width: 14ch;
    margin-bottom: 60px;
    color: #1E212C;
}


.header__content-buttons {
    display: flex;
}

.header__content-btn:first-child {
    margin-right: 24px;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1E212C;
    margin-bottom: 80px;
}

.header__row>span {
    background-color: var(--main-red);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 10px;
}

.header__row-item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

.header__row span {
    font-size: 46px;
    font-weight: 900;
    line-height: 1.3;
}

/* =============================================  ABOUT US  ============================================= */
/* =============================================  ABOUT US  ============================================= */

.main__about {
    margin-top: 100px;
    margin-bottom: 81px;
    padding-top: 80px;
}

.about-inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.about-inner::after {
    position: absolute;
    content: "";
    top: -82px;
    right: -237px;
    display: block;
    background: url("../images/Elements/semicircles-gold.svg");
    width: 100px;
    height: 85px;
    opacity: 0.3;
}

.about-info {
    display: flex;
    flex-direction: column;
}

.about-heading {
    margin-bottom: 48px;
}

.about-desc {
    margin-bottom: 60px;
}

.about-desc :nth-child(1) {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: #1e212c;
    max-width: 50ch;
    margin-bottom: 24px;
}

.about-desc :nth-child(2) {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #1e212c;
    max-width: 64ch;
}

.about-buttons {
    display: flex;
    gap: 24px;
}

/* =============================================  NUMBERS  ============================================= */
/* =============================================  NUMBERS  ============================================= */

.numbers-inner {
    display: flex;
    justify-content: space-between;
    padding-top: 180px;
}

.main__numbers-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.numbers-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 10px;
    align-self: center;

}

.numbers-item {
    display: flex;
    align-items: center;
    white-space: nowrap;

}

.numbers-item :first-child {
    font-weight: 900;
    font-size: 48px;
    line-height: 1.3;
    letter-spacing: 0.02em;
    color: var(--main-red);
    margin-right: 16px;
}

.numbers-item :last-child {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: #1E212C;
}

/* =============================================  DIRECTIONS  ============================================= */
/* =============================================  DIRECTIONS  ============================================= */

.main__directions {
    padding-top: 80px;
    /* padding-bottom: 178px; */
    padding-bottom: 100px;
}

.directions-inner {
    position: relative;
}

.directions-inner::before {
    position: absolute;
    content: "";
    top: 27px;
    left: -177px;
    display: block;
    background: url("../images/Elements/Group-of-point-gold.svg");
    width: 136px;
    height: 115px;
}

.directions-inner::after {
    position: absolute;
    content: "";
    top: 416px;
    right: -475px;
    display: block;
    background: url("../images/Elements/cirles-gold.svg");
    width: 243px;
    height: 243px;
    opacity: 0.3;
}

.directions-heading {
    padding-bottom: 90px;
}

.directions__filter-box {
    display: flex;
    padding-bottom: 56px;
}

.directions__filter-item {
    white-space: nowrap;
}

.directions__filter-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: var(--gray600);
    background-color: transparent;
    padding: 5px 7px;
    border-radius: 4px;
    border: 1px solid var(--gray600);
}

.directions__filter-box :not(:last-child) button {
    margin-right: 57px;
}

.directions__filter-btn--active {
    border: none;
    padding: 6px 8px;
    background: var(--bg-button-liner);
    color: #FFF;
}

.directions__list {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    gap: 30px;
    position: relative;
}

.directions__list-item {
    border-radius: 4px;
    border: 1px solid var(--gray300);
    overflow: hidden;
    min-height: 420px;
}

.directions__list-item--animation {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.directions__list-item--animation:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03),
        0 12px 10px -6px rgba(154, 156, 165, 0.04),
        0 30px 24px -10px rgba(154, 156, 165, 0.05),
        0 80px 80px -20px rgba(154, 156, 165, 0.08);
}


.directions__list-item--empty {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 74px;
    background-color: var(--gray200);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: var(--gray800);
}

.directions__list-item--marketing .directions__link-tag {
    background-color: #03cea4;
}

.directions__list-item--management .directions__link-tag {
    background-color: #5a87fc;

}

.directions__list-item--hr .directions__link-tag {
    background-color: #f89828;

}

.directions__list-item--design .directions__link-tag {
    background-color: #f52f6e;

}

.directions__list-item--development .directions__link-tag {
    background-color: #7772f1;
}

.directions__list-item:hover .directions__link-btn {
    color: var(--main-red);
}

.direction__image-box {
    height: 200px;
    width: 100%;
}

.direction__image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.directions__link-content {
    padding: 24px 24px;
    font-size: 16px;
}

.directions__link-tag {
    display: inline-block;
    padding: 1px 8px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-weight: 700;
    line-height: 1.6;
    color: white;
    background-color: #777777;
}

.directions__link-text {
    font-weight: 400;
    line-height: 1.6;
    color: var(--gray700);
    margin-bottom: 20px;
}

.directions__link-btn {
    position: relative;
    display: inline-flex;
    text-align: center;
    padding-right: 32px;
    font-weight: 700;
    line-height: 1.6;
    color: var(--gray900);
    transition: color 0.3s ease;
}

.directions__link-btn::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    background: url('../images/Elements/right-arrow\(red\).svg') 0 0 / 100% no-repeat;
    width: 18px;
    height: 11px;
    transform: translateY(-29%);
}

/* =============================================  AWARD  ============================================= */
/* =============================================  AWARD  ============================================= */

.main__award {
    padding-top: 80px;
    margin-bottom: -44px;
}

.award__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.award__inner::before {
    position: absolute;
    display: block;
    content: "";
    top: 20px;
    left: -214px;
    background: url("../images/Elements/rectangular-arrow-gold.svg") no-repeat;
    width: 60px;
    height: 60px;
}

.award__content {
    max-width: 392px;
}

.award__content-desc {
    padding: 48px 0 32px 0;
    font-size: 16px;
    line-height: 1.6;
    color: var(--gray800);
}

.award__logos {
    display: flex;
    justify-content: space-between;
}

.award__image-box {
    border-radius: 4px;
}

.award__image-box>img {
    border-radius: 4px;
    box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05),
        0 12px 10px -6px rgba(154, 156, 165, 0.08),
        0 30px 24px -10px rgba(154, 156, 165, 0.1),
        0 80px 80px -20px rgba(154, 156, 165, 0.16);
    overflow: hidden;
}

/* =============================================  TEAM  ============================================= */
/* =============================================  TEAM  ============================================= */


.main__team {
    padding: 160px 0 90px 0;
    background: url('../images/Elements/Team-decoration.svg') 100% -50% / 90% 90% no-repeat, var(--gray200);
}

.team__heading {
    margin-bottom: 60px;
    position: relative;
}

.team__slider-arrows {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
}

.team__slider-arrow {
    line-height: 0;
    position: relative;
    display: block;
    border-radius: 50%;
    z-index: 5;
}

.team__slider-arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 48px;
    height: 48px;
    background-color: var(--main-red);
    border-radius: 50%;
    z-index: -1;
    transition: all .3s ease;

}

.team__slider-arrow path {
    transition: all .3s ease;
}

.team__slider-arrow:hover path {
    fill: #fff;
}

.team__slider-arrow:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.team__slider-prev {
    margin-right: 30px;
}

.team__slider .slick-list {
    margin: 0 -15px;
}

.team__slide {
    padding: 0 15px;
}

.team__slide:hover .team__socials {
    transform: translateY(0%);
}

.team__img-box {
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 16px;
    position: relative;
}

.team__img {
    position: relative;
    height: 340px;
}

.team__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.team__socials {
    position: absolute;
    top: 0%;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
    background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.77) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1e212c 100%);
    transform: translateY(50%);
    transition: all .3s ease;

}

.team_socials-item:not(:last-child) {
    margin-right: 12px;
}

.team__socials-link {
    display: block;
    line-height: 0;
}

.team__socials-link path {
    transition: all .3s ease;
}

.team__socials-link:hover path {
    fill: #fff
}

.team__info {
    text-align: center;
}

.team__info-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: var(--gray800);
    margin-bottom: 4px;
}

.team__info-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--gray700);
}

/* =============================================  TESTIMONIALS  ============================================= */
/* =============================================  TESTIMONIALS  ============================================= */

.main__testimonals {
    padding: 90px 0 180px 0;
    background: url('../images/Elements/Testimonials-main-decoration.svg') 15% 1% / 60% 20% no-repeat, var(--gray200);
}

.testimonials__inner {
    position: relative;
}

.testimonials__inner::after {
    content: "";
    position: absolute;
    bottom: -183px;
    right: -476px;
    background: url('../images/Elements/Testimonials-circle.svg') 0% 0% / 100% 100% no-repeat;
    width: 259px;
    height: 259px;
}

.testimonials__heading {
    padding-bottom: 60px;
}

.testimonails__wrapper {
    display: flex;
    max-height: 344px;
    margin-bottom: 46.5px;
}

.testimonials__arrow {
    display: flex;
    align-items: center;

}


.testimonials__slider-prev {
    padding-right: 87px;
    position: relative;
    z-index: 5;
}

.testimonials__slider-prev::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    display: block;
    border-radius: 50%;
    background-color: var(--main-red);
    transform: translateX(-32%) scale(0);
    z-index: -1;
    transition: all .3s ease;

}

.testimonials__slider-prev:hover::before {
    transform: translateX(-32%) scale(1);
}

.testimonials__slider-prev path {
    transition: all .3s ease;
}

.testimonials__slider-prev:hover path {
    fill: #fff;
}

.testimonials__slider {
    min-width: 0;
    box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03),
        0 12px 10px -6px rgba(154, 156, 165, 0.04),
        0 30px 24px -10px rgba(154, 156, 165, 0.05),
        0 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.testimonials__slide {
    background-color: #fff;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 4px;

}

.testimonials__slide-inner {
    padding: 64px 105px 64px 163px;
    position: relative;
}

.testimonials__slide-inner::before {
    content: "";
    position: absolute;
    top: 63px;
    left: 78px;
    width: 28px;
    height: 20px;
    display: block;
    background: url("../images/Elements/braces.svg");
}

.testimonials__quote {
    font-size: 20px;
    color: var(--gray800);
    margin-bottom: 24px;
}

.testimonials__info-box {
    display: flex;
    align-items: center;
}

.testimonials__img-box img {
    border-radius: 50%;
    overflow: hidden;
}

.testimonial__person {
    padding-left: 20px;
}

.testimonial__person-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    color: var(--gray900);
}

.testimonial__person-position {
    font-size: 14px;
    color: var(--gray700);
}

.testimonials__slider-next {
    padding-left: 87px;
    position: relative;
    z-index: 5;
}

.testimonials__slider-next::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    display: block;
    border-radius: 50%;
    background-color: var(--main-red);
    transform: translateX(-32%) scale(0);
    z-index: -1;
    transition: all .3s ease;

}

.testimonials__slider-next:hover::before {
    transform: translateX(-32%) scale(1);
}

.testimonials__slider-next path {
    transition: all .3s ease;
}

.testimonials__slider-next:hover path {
    fill: #fff;
}

.testimonials__dots .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials__dots li:not(:last-child) {
    margin-right: 12px;
}

.testimonials__dots .slick-active button::before {
    background-color: var(--gray800);
}

.testimonials__dots button {
    font-size: 0;
    background-color: transparent;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
}


.testimonials__dots button::before {
    content: "";
    height: 3px;
    width: 100%;
    background-color: var(--gray500);
    border-radius: 3px;
    transition: all .3s ease;
}

/* =============================================  COMPANIES  ============================================= */
/* =============================================  COMPANIES  ============================================= */


.main__companies {
    padding: 0 0 177px 0;
    background: var(--gray200);
}

.companies__inner {
    position: relative;
}

.companies__inner::before {
    content: "";
    position: absolute;
    bottom: -98px;
    left: -230px;
    background: url('../images/Elements/Companies-decoration.svg') 0% 0% / 100% 100% no-repeat;
    width: 90px;
    height: 90px;
}

.companies__heading {
    padding-bottom: 60px;
}

.companies__grid {
    display: grid;
    grid-template: repeat(2, auto) / repeat(6, 1fr);
    gap: 40px 100px
}

.companies__grid-link {
    display: block;
}

.companies__grid-link img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    opacity: 0.6;
    transition: all 1.3s ease;
}

.companies__grid-link:hover img {
    filter: grayscale(0);
    opacity: 1;
    transition: all .3s ease;
}

/* =============================================  COURSE  ============================================= */
/* =============================================  COURSE  ============================================= */

.main__course {
    margin-top: 116px;
    /* margin-bottom: 186px; */
    margin-bottom: 106px;
}

.cousre__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course__content {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 1.5;
}

.cousre__heading {
    padding-bottom: 60px;
}

.cousre__lesson-list {
    font-weight: 400;
    max-width: 600px;
}

.cousre__lesson-item:not(:last-child) {
    margin-bottom: 24px;
}

.cousre__lesson-link {
    display: block;
    font-weight: 700;
    color: var(--gray900);
    padding-left: 40px;
}

.cousre__lesson-link span {
    color: var(--main-red);
    padding-right: 8px;
}

.cousre__lesson-head {
    position: relative;
}

.cousre__lesson-head::before,
.cousre__lesson-head::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -40px;
    width: 18px;
    height: 2px;
    background-color: var(--main-red);
    display: block;
    border-radius: 2px;
}

.cousre__lesson-head::after {
    transform: rotate(90deg);
    transition: all .3s;
}

.cousre__lesson-link--active .cousre__lesson-head::after {
    transform: rotate(0deg);
}

.cousre__lesson-link--active .cousre__lesson-desc {
    display: block;
}

.cousre__lesson-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--gray800);
    padding-top: 16px;
}

/* =============================================  BLOG  ============================================= */
/* =============================================  BLOG  ============================================= */

.main__blog {
    padding-top: 80px;
    /* padding-bottom: 213px; */
    padding-bottom: 133px;
}

.blog__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 60px;
}

.blog__post-list {
    display: flex;
    gap: 20px;
}

.blog__post-item {
    /* flex: 1 1 0; */
    flex-grow: 1;
    flex-basis: 0;
    border-radius: 4px;
    transition: all .3s;
}

.blog__post-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03),
        0 12px 10px -6px rgba(154, 156, 165, 0.04),
        0 30px 24px -10px rgba(154, 156, 165, 0.05),
        0 80px 80px -20px rgba(154, 156, 165, 0.08);
}


.blog__post-link {
    display: block;
}

.blog__post-link:hover .blog__content-btn {
    color: var(--main-red);
}

.blog__img-box {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.blog__img-main {
    width: 100%;
    height: 100%;
}

.blog__img-categoty {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 4px;
    padding: 1px 8px;
    margin: 12px 12px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-800);
}

.blog__img-categoty::before {
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 4px;
}

.blog__post--podcast .blog__img-categoty::before {
    background: url('../images/Elements/mic.svg');
}

.blog__post--video .blog__img-categoty::before {
    background: url('../images/Elements/Play.svg');
}

.blog__post--article .blog__img-categoty::before {
    background: url('../images/Elements/Files.svg');
}

.blog__post--article .blog__info-time {
    display: none;
}

.blog__link-content {
    margin-top: 16px;
    padding: 0 5px 5px;
}

.blog__content-info {
    display: flex;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: var(--gray700)
}

.blog__content-info :first-child {
    font-weight: 700;
}

.blog__info-element {
    position: relative;
    padding: 0 12px;
}

.blog__info-element:first-child {
    padding-left: 0;
}

.blog__info-element:last-child::after {
    content: none;
}

.blog__info-element::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    display: block;
    width: 1px;
    height: 12px;
    border-radius: 2px;
    background-color: var(--gray700);
    transform: translateY(-50%);
}

.blog__post--article .blog__info-element:nth-child(2):after {
    content: none;
}

.blog__info-date {
    display: flex;
    align-items: center;
}

.blog__info-date::before {
    content: "";
    width: 16px;
    height: 16px;
    background: url('../images/Elements/Calendar.svg');
    margin-right: 12px;
}

.blog__info-time {
    display: flex;
    align-items: center;
}

.blog__info-time::before {
    content: "";
    width: 16px;
    height: 16px;
    background: url('../images/Elements/Clock.svg');
    margin-right: 12px;
}

.blog__content-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: var(--gray900);
    margin-bottom: 8px;
}

.blog__content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--gray800);
    margin-bottom: 16px;
}

.blog__content-btn {
    display: inline-flex;
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    color: var(--gray900);
    transition: all .3s;
}

.blog__content-btn::after {
    position: absolute;
    content: "";
    top: 50%;
    right: -28px;
    transform: translateY(-30%);
    width: 18px;
    height: 11px;
    display: block;
    background: url('../images/Elements/right-arrow\(red\).svg');
}

/* =============================================  CONTACT INFO  ============================================= */
/* =============================================  CONTACT INFO  ============================================= */

.main__contact {
    padding-top: 80px;
    /* padding-bottom: 180px; */
    padding-bottom: 100px;
}

.contact__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.contact__info {
    margin-right: 30px;
}

.contact__heading {
    margin-bottom: 40px;
}

.contact__data-list {
    line-height: 1.5;
    margin-bottom: 48px;
}

.contact__data-item {
    padding-left: 36px;
    position: relative;
}

.contact__data-item:not(:last-child) {
    margin-bottom: 24px;
}

.contact__data-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
}

.contact__mail.contact__data-item::before {
    background: url('../images/Elements/Chat.svg');

}

.contact__tel.contact__data-item::before {
    background: url('../images/Elements/iPhone-red.svg');
}

.contact__address.contact__data-item::before {
    background: url('../images/Elements/Address.svg');
}

.contact__item-top {
    font-weight: 700;
    font-size: 14px;
    color: var(--gray700);
}

.contact__item-link,
.contact__item-address {
    font-weight: 400;
    font-size: 18px;
    color: var(--gray900);
    font-style: normal;
}

.contact__follow-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.contact__follow-list {
    display: flex;
}

.contact__follow-item:not(:last-child) {
    margin-right: 32px;
}

.contact__follow-link {
    display: block;
}

.contact__follow-link path {
    transition: all .3s;
}

.contact__follow-link:hover path {
    fill: #000000;
}

.contact__map {
    height: 412px;
    width: 100%;
    max-width: 705px;
    box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03),
        0 12px 10px -6px rgba(154, 156, 165, 0.04),
        0 30px 24px -10px rgba(154, 156, 165, 0.05),
        0 80px 80px -20px rgba(154, 156, 165, 0.08);
    border-radius: 4px;
    overflow: hidden;
}

/* =============================================  CONTACT INFO  ============================================= */
/* =============================================  CONTACT INFO  ============================================= */

.main__questions {
    padding-top: 80px;
    padding-bottom: 180px;
}

.questions__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions__content {
    margin-left: 30px;
}

.questions__heading {
    margin-bottom: 40px;
}

.questions__form-row:not(:last-child) {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    line-height: 1.6;
}

.questions__form-label {
    color: var(--gray-800);
    flex: 1 1 auto;
}

.questions__form-label:not(:last-child) {
    margin-right: 25px;
}

.questions__form-input,
.questions__form-text {
    display: block;
    border: 1px solid var(--gray400);
    border-radius: 4px;
    padding: 13px 16px;
    margin-top: 8px;
    font-size: 16px;
    width: 100%;
}

.questions__form-input::placeholder,
.questions__form-text::placeholder {
    color: var(--gray600);
}

.questions__text-label {
    display: block;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 48px;
}

.questions__form-text {
    height: 128px;
    resize: none;
}

.questions__form-row {
    display: flex;
}

.questions__checkbox-label {
    margin-right: 50px;
    display: flex;
    font-weight: 400;
    font-size: 16;
    line-height: 1.6;
    color: var(--gray800);
    width: 100%;
}

.questions__form-checkbox {
    position: relative;
    width: 16px;
    height: 16px;
    flex: 0 0 auto;
    margin-top: 5px;
    margin-right: 12px;
}

.questions__checkbox-default {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.questions__checkbox-default:checked+.questions__checkbox-custom {
    background: url('../images/Elements/check.svg') 50% 50% no-repeat, var(--main-red);
    border: var(--main-red);
}

.questions__checkbox-custom {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid var(--gray800);
    border-radius: 3px;
    cursor: pointer;

}

.questions__form-btn {
    width: 100%;
    align-self: center;
    text-align: center;
}

/* =============================================  FOOTER  ============================================= */
/* =============================================  FOOTER  ============================================= */

.footer__top {
    background-color: var(--gray900);
}

.footer__top-inner {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 62px;
}

.footer__top-inner :last-child p {
    font-size: 10px;
}

.footer__top-inner :last-child .footer__column-title {
    white-space: unset;
}

.footer__column {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.footer__column:not(:first-child) {
    padding-left: 10px;
}

.footer__logo {
    display: block;
    margin-bottom: 25px;
}

.footer__column-item:not(:last-child) {
    margin-bottom: 8px;
}

.footer__column-link {
    display: block;
    transition: all .3s;
}

.footer__column-link {
    display: inline;
    opacity: 0.6;
}

.footer__column-link:hover {
    opacity: 1;
}

.footer__column-link svg {
    transform: translateY(2px);
}

.footer__column p {
    color: var(--footer-link);
    opacity: 0.6;
    line-height: 1.5;
    font-size: 12px;
}

.footer__column-title {
    font-weight: 700;
    color: var(--footer-title);
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.footer__column-title {
    white-space: nowrap;
}

.footer__follow-list {
    display: flex;
    margin-top: 38px;
}

.footer__follow-item:not(:last-child) {
    margin-right: 18px;
}

.footer__follow-link {
    display: block;
}

.footer__follow-link path {
    transition: all .3s;
}

.footer__follow-link:hover path {
    fill: #fff;
}

.footer__column-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
    white-space: nowrap;
}

.footer__column:is(:first-child, :last-child) {
    max-width: 276px;
    width: 100%;
}

.footer__form-items {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.12);
    margin: 12px 0px;
    border-radius: 4px;
    display: flex;
}

.footer__column-input {
    padding: 9px 0px 9px 12px;
    background-color: transparent;
    color: #ffffff;
    width: 100%;
}

.footer__column-input::placeholder {
    font-size: 12px;
}

.footer__form-btn {
    background: transparent;
    padding: 0 6px;
    margin: 0 5px 0 0;
}

.footer__form-btn::before {
    content: "";
    display: block;
    width: 12px;
    height: 8px;
    background: url('../images/Elements/footer-arrow.svg') 0 0 / 100% 100% no-repeat;
    transition: all .3s;
}

.footer__form-btn:hover.footer__form-btn::before {
    transform: scale(1.3);
}

.footer__bottom {
    background-color: var(--gray1000);
}

.footer__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--footer-link);
    line-height: 1.5;
    opacity: 0.6;
}

.footer__bottom-reserved {
    font-weight: 400;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
}

.footer__bottom-reserved span::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background: url('../images/Elements/Heart.svg');
    margin: 0px 4px;
}

.footer__go-top {
    font-weight: 700;
    font-size: 14px;
}

/* =============================================  MEDIA  ============================================= */
/* =============================================  MEDIA  ============================================= */

/* =============================================   1100   ============================================= */

@media (max-width: 1100px) {

    /* =============================================  HEADER MEDIA  ============================================= */
    /* ********* H-E-A-D-E-R MEDIA  ********* */
    /* ---------H-E-A-D-E-R TOP--------- */
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 100;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        transition: all .3s;
    }

    .burger--follow {
        top: 15px;
        right: 15px;
        background: white;
        box-shadow: 0px 1px 8px #6c7388;
    }

    .burger span {
        display: block;
        height: 4px;
        width: 30px;
        background: rgba(30, 33, 44, 0.733);
        border-radius: 2px;
        margin: 4px 0;
    }

    .burger::before,
    .burger::after {
        content: "";
        display: block;
        height: 4px;
        width: 30px;
        background: rgba(30, 33, 44, 0.733);
        border-radius: 2px;
        transition: all .3s;
    }

    .burger--active.burger span {
        opacity: 0;
    }

    .burger--active.burger::before {
        transform: translateY(8px) rotate(45deg);
    }

    .burger--active.burger::after {
        transform: translateY(-8px) rotate(-45deg);
    }

    .header {
        background: #feddd0;
    }

    .header__top {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 60;
        background: white;
        min-width: 320px;
        padding-top: 0;
        transform: translateX(100%);
        transition: all .3s;

    }

    .header__top--open {
        transform: translateX(0%);
    }

    .header__top-inner {
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        padding: 100px 0;
    }

    .header__logo {
        margin-right: 0;
    }

    .header__nav {
        margin: 0 auto;
    }

    .header__nav-list {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

    .header__nav-list li:not(:last-child) {
        margin-right: 0px;
    }

    .header__btn-box {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .header__user {
        margin-left: 0;
    }

    /* ---------H-E-A-D-E-R BODY--------- */

    .header__main {
        align-items: center;
    }

    .header__title {
        font-size: 54px;
        margin-bottom: 30px;
    }

    .header__img {
        width: 450px;
        height: 450px;
    }

    /* ********* A-B-O-U-T US  MEDIA  ********* */

    .about-info {
        padding-right: 8px;
    }

    .heading :nth-child(2):not(:is(button, a, svg)) {
        font-size: 34px;
    }
}

/* =============================================  1000  ============================================= */


@media (max-width: 1000px) {
    /* ********* D-I-R-E-C-T-I-O-N-S  MEDIA  ********* */
    /* ---------D-I-R-E-C-T-I-O-N-S BODY--------- */

    .directions__filter-box {
        display: flex;
        justify-content: center;
        padding-bottom: 56px;
    }

    .directions__link-content {
        padding: 24px 6px 5px;
    }

    /* ********* A-W-A-R-D  MEDIA  ********* */
    /* ---------A-W-A-R-D IMG--------- */

    .award__image-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}



/* =============================================  930  ============================================= */
@media(max-width: 930px) {

    /* ********* H-E-A-D-E-R MEDIA  ********* */

    /* ---------H-E-A-D-E-R BODY--------- */

    .header__title {
        font-size: 48px;
        margin-bottom: 30px;
    }

    .header__content-buttons {
        display: inline-block;
    }

    .header__img {
        width: 450px;
        height: 450px;
    }

    /* ---------H-E-A-D-E-R ROW--------- */

    .header__row {
        display: none;
    }

    /* ---------------------------------- ABOUT US MEDIA  -------------------------------- */
    /* ********* A-B-O-U-T US MEDIA  ********* */

    /* ---------A-B-O-U-T INNER--------- */

    .about-inner {
        justify-content: center;
    }

    /* ---------A-B-O-U-T INFO--------- */


    .about-heading {
        margin-bottom: 24px;
    }

    .heading :nth-child(1):not(:is(button, a, svg)) {
        font-size: 14px;
    }

    .about-desc :nth-child(1) {
        font-size: 16px;
        margin-bottom: 24px;
    }

    .about-desc :nth-child(2) {
        font-size: 14px;
        margin-bottom: 0;
    }

    /* ---------A-B-O-U-T IMG--------- */

    .about-inner img {
        max-width: 400px;
        max-height: 400px;
    }

    /* ********* N-U-M-B-E-R-S MEDIA  ********* */

    .numbers-item :first-child {
        font-size: 40px;
        margin-right: 16px;
    }

    .numbers-item :last-child {
        font-size: 16px;
        color: #1E212C;
    }

    /* ********* D-I-R-E-C-T-I-O-N-S  MEDIA  ********* */
    /* ---------D-I-R-E-C-T-I-O-N-S BODY--------- */
    .directions__list {
        grid-template: repeat(3, auto) / repeat(2, 1fr);
        gap: 30px;
    }

    .directions__link-content {
        padding: 24px 24px;
    }

}



/* =============================================  860  ============================================= */

@media (max-width: 860px) {

    /* ********* H-E-A-D-E-R MEDIA  ********* */
    /* ---------H-E-A-D-E-R BODY--------- */
    .header__main {
        justify-content: center;
        margin: 0;
        height: 100%;
    }

    .header__content {
        max-width: 380px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 120px 0;
    }

    .header__play {
        justify-content: center;
        padding-right: 54px;
    }

    .header__title {
        font-size: 48px;
        margin-bottom: 30px;
        text-align: center;
    }


    .header__content-buttons {
        display: inline-flex;
        flex-direction: column;
        max-width: 250px;
        align-self: center;
        gap: 20px;
        text-align: center;
    }

    .header__content-btn:first-child {
        margin-right: 0;
    }

    .header__img {
        display: none;
    }

    /* ********* A-B-O-U-T US MEDIA  ********* */

    .main__about {
        margin-top: 0;
        margin-bottom: 0;
    }

    /* ---------A-B-O-U-T INNER--------- */

    .about-inner {
        justify-content: center;
    }

    /* ---------A-B-O-U-T INFO--------- */

    .about-info {
        padding-right: 0;
    }

    .heading {
        text-align: center;
    }

    .about-desc :nth-child(1) {
        max-width: 56ch;
    }

    .about-desc :nth-child(1),
    .about-desc :nth-child(2) {
        text-align: justify;
    }

    .about-buttons {

        flex-direction: column;
        max-width: 250px;
        text-align: center;
        margin: 0 auto;
    }

    /* ---------A-B-O-U-T IMG--------- */

    .about-inner img {
        display: none;
    }

    /* ********* N-U-M-B-E-R-S MEDIA  ********* */
    /* ---------A-B-O-U-T INNER--------- */

    .numbers-inner {
        padding-top: 70px;
        flex-direction: column;
    }

    /* ---------A-B-O-U-T IMG--------- */

    .main__numbers-img {
        max-width: 560px;
        max-height: 350px;
        margin: 0 auto;
    }

    /* ---------A-B-O-U-T LIST--------- */

    .numbers-list {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 20px 30px;
        padding-left: 0;
        align-self: normal;
        margin: 0 auto;
    }

    /* Делаем обертку для каждой строки (чтобы не использовать display: contents) */
    /* display: contents делает так, что элемент исчезает как контейнер, 
    но его дети остаются и ведут себя так, как будто они находятся на 
    месте родителя. */

    .numbers-item {
        display: contents;
    }

    .numbers-item :first-child {
        font-size: 36px;
        margin-right: 0;
        justify-self: center;
    }

    .numbers-item :last-child {
        justify-self: center;
        align-self: center;
    }

    /* ********* D-I-R-E-C-T-I-O-N-S  MEDIA  ********* */
    .main__directions {
        padding-bottom: 0;
    }

    /* ---------D-I-R-E-C-T-I-O-N-S BODY--------- */
    .directions__filter-box {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-areas:
            "a b c d"
            ". e f .";
        justify-items: center;
        gap: 8px 36px;
    }

    .directions__filter-box :nth-child(1) {
        grid-area: a;
    }

    .directions__filter-box :nth-child(2) {
        grid-area: b;
    }

    .directions__filter-box :nth-child(3) {
        grid-area: c;
    }

    .directions__filter-box :nth-child(4) {
        grid-area: d;
    }

    .directions__filter-box :nth-child(5) {
        grid-area: e;
    }

    .directions__filter-box :nth-child(6) {
        grid-area: f;
    }

    .directions__filter-box :not(:last-child) button {
        margin-right: 0px;
    }

    .directions__list--media {
        grid-template-columns: 1fr;
        margin: 0 auto;
        justify-items: center;
    }

    .directions__list-item {
        max-width: 400px;
    }

    /* ********* A-W-A-R-D  MEDIA  ********* */

    .award__inner {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    /* ---------A-W-A-R-D CONTENT--------- */

    .award__content>p {
        text-align: center;
    }

    /* ---------A-W-A-R-D IMG--------- */

    .award__image-box {
        max-width: 605px;
        max-height: 400px;
    }

    .award__image-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* ********* T-E-A-M  MEDIA  ********* */
    .main__team {
        padding: 160px 0 0;
    }
    /* ---------T-E-A-M  SLIDER--------- */

    .team__slider {
        max-width: 720px;
        margin: 0 auto;
    }
}

/* =============================================  700  ============================================= */


@media (max-width: 700px) {

    /* ********* D-I-R-E-C-T-I-O-N-S  MEDIA  ********* */
    /* ---------D-I-R-E-C-T-I-O-N-S BODY--------- */
    .directions__list {
        grid-template-columns: 1fr;
        margin: 0 auto;
        justify-items: center;
    }

}

/* =============================================  570  ============================================= */

@media (max-width: 570px) {

    /* ********* T-E-A-M  MEDIA  ********* */
    /* ---------T-E-A-M  SLIDER--------- */
    .team__slider-arrows {
        display: none;
    }

    .team__slider {
        max-width: 380px;
        margin: 0 auto;
    }

    /* ---------T-E-A-M  DOTS--------- */
    .team__dots {
        margin-top: 20px;
    }

    .team__dots .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .team__dots li:not(:last-child) {
        margin-right: 12px;
    }

    .team__dots .slick-active button::before {
        background-color: var(--gray800);
    }

    .team__dots button {
        font-size: 0;
        background-color: transparent;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
    }

    .team__dots button::before {
        content: "";
        height: 3px;
        width: 100%;
        background-color: var(--gray500);
        border-radius: 3px;
        transition: all .3s;
    }
   
}

/* =============================================  500  ============================================= */


@media (max-width: 500px) {

    /* ********* D-I-R-E-C-T-I-O-N-S  MEDIA  ********* */
    /* ---------D-I-R-E-C-T-I-O-N-S BODY--------- */
    .directions__filter-box {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-areas:
            "a b c"
            "d e f";
        justify-items: center;
        gap: 8px 20px;
    }

    .directions__filter-box :nth-child(1) {
        grid-area: a;
    }

    .directions__filter-box :nth-child(2) {
        grid-area: b;
    }

    .directions__filter-box :nth-child(3) {
        grid-area: c;
    }

    .directions__filter-box :nth-child(4) {
        grid-area: e;
    }

    .directions__filter-box :nth-child(5) {
        grid-area: d;
    }

    .directions__filter-box :nth-child(6) {
        grid-area: f;
    }

    .directions__filter-btn {
        font-size: 14px;
    }

}

/* =============================================  400  ============================================= */


@media (max-width: 400px) {
    /* ********* H-E-A-D-E-R MEDIA  ********* */
    /* ---------H-E-A-D-E-R TOP--------- */

    .header__top {
        min-width: 0;
        left: 0;
    }

    /* ---------H-E-A-D-E-R BODY--------- */

    .header__main {
        justify-content: center;
        margin: 0;
        height: 100%;
    }

    .header__content {
        max-width: 380px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        height: 100%;
    }

    .header__title {
        font-size: 42px;
        margin-bottom: 30px;
        text-align: center;
    }

    .header__content-buttons {
        max-width: 200px;
        gap: 20px;
    }

    /* ********* A-B-O-U-T US MEDIA  ********* */

    /* ---------A-B-O-U-T INFO--------- */

    .heading :nth-child(2):not(:is(button, a, svg)) {
        font-size: 32px;
    }

    /* ********* A-W-A-R-D  MEDIA  ********* */

    /* ---------A-W-A-R-D LOGOS--------- */
    .award__logos {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

}