html, body {
    font-family: "Lato", sans-serif;
}

:root {
    --bg-button-liner: linear-gradient(45deg, var(--main-red) 0%, var(--main-orange) 100%);
    --main-red: #ff3f3a;
    --main-orange:#f75e05;
    --card-shadow:rgba(230, 232, 236, 0.322);
    --gray200: #f4f5f6;
    --gray300: #E8EBEF;
    --gray500: #a6aaaf;
    --gray600: #9A9CA5;
    --gray700: #787a80;
    --gray800: #424551;
    --gray900: #1e212c;
    
}

body {
    height: 100vh;
}

.wrapper {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.header {
    background: url("../images/Elements/Header-decoration.svg") 50% 25% / cover no-repeat, #feddd0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.logo {
    cursor: pointer;
}

.button {
    display: inline-block;
    font-size: 16px;
    padding: 0px 40px;
    background: var(--bg-button-liner);
    line-height: 52px;
    font-weight: 700;
    color: #FFF;
    letter-spacing: 0.5px;
    border-radius: 4px;
    white-space: nowrap;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.button:hover {
    transform: scale(1.05);
}

.button--empty {
    background-image: none;
    border-left: 2px solid var(--main-red);
    border-right: 2px solid #f75e05;
    background-image: linear-gradient(to right, var(--main-red), #f75e05), 
                      linear-gradient(to right, var(--main-red), #f75e05);
    background-size: 100% 2px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    background-clip: border-box;
    cursor: pointer;
}

.button--empty span {
  background: var(--bg-button-liner);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading {
    color: #1e212c;
}

.heading--text-center {
    text-align: center;
}

.heading :nth-child(1):not(:is(button, a, svg)) {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.heading :nth-child(2):not(:is(button, a, svg)) {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
}



/* ---------------------------------------HEADER TOP ------------------------------------- */
/* --------------------------------------------------------------------------------------- */

.header__top-inner {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #424551;
    font-size: 16px;
}

.header__top {
    padding-top: 20px;
}

.header__logo {
    margin-right: 60px;
}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-list li:not(:last-child) {
    margin-right: 40px;
}



.header__btn-box {
    display: flex;
    align-items: center;
}

.header__user {
    white-space: nowrap;
    position: relative;
    padding-left: 28px;
    margin-left: 36px;
    line-height: 1.6;
}

.header__user::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    background: url("../images/Elements/Profile.svg");
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
}

:is(.header__nav-link, .header__user-btn) {
    transition: color 0.3s ease;
}

:is(.header__nav-link, .header__user-btn):hover {
    color: var(--main-red);
}


/* -------------------------------------HEADER BODY-------------------------- */
/* -------------------------------------------------------------------------- */

.header__body {
    flex-grow: 1;
}

.header__body-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header__main {
    display: flex;
    justify-content: space-between;
    margin: auto 0;
}

.header__content {
    max-width: 496px;
}

.header__play {
    display: inline-flex;
    align-items: center;
    height: 84px;
    font-size: 14px;
    font-weight: 700;
    color: #1E212C;
    line-height: 1.5;
}

.header__play svg {
    margin-right: 16px;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
}

.header__play:hover svg {
    box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
}

.header__title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: 0.02em;
    min-width: 14ch;
    margin-bottom: 60px;
    color: #1E212C;
}


.header__content-buttons {
    display: flex;
}

.header__content-btn:first-child {
    margin-right: 24px;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1E212C;
    margin-bottom: 80px;
}

.header__row > span {
    background-color: var(--main-red);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 10px;
}

.header__row-item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

.header__row span {
    font-size: 46px;
    font-weight: 900;
    line-height: 1.3;
}

/* -------------------------------------------MAIN ABOUT US -------------------------- */
/* ----------------------------------------------------------------------------------- */

.main__about {
    margin-top: 179px;
    margin-bottom: 161px;
}

.about-inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.about-inner::after {
    position: absolute;
    content: "";
    top: -82px;
    right: -237px;
    display: block;
    background: url("../images/Elements/semicircles-gold.svg");
    width: 100px;
    height: 85px;
    opacity: 0.3;
}

.about-info {
    display: flex;
    flex-direction: column;
}

.about-heading {
    margin-bottom: 48px;
}

.about-desc {
    margin-bottom: 60px;
}

.about-desc :nth-child(1) {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: #1e212c;
    max-width: 50ch;
    margin-bottom: 24px;
}

.about-desc :nth-child(2) {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #1e212c;
    max-width: 64ch;
}

.about-buttons {
    display: flex;
    gap: 24px;
}


/* ---MAIN NUMBERS------ */


.numbers-inner {
    display: flex;
    justify-content: space-between;
    padding-top: 180px;
}

.numbers-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.numbers-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 10px;
    align-self: center;

}

.numbers-item {
    display: flex;
    align-items: center;
}

.numbers-item :first-child {
    font-weight: 900;
    font-size: 48px;
    line-height: 1.3;
    letter-spacing: 0.02em;
    color: var(--main-red);
    margin-right: 16px;
}

.numbers-item :last-child {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: #1E212C;
}

/* ---------------------------------------------MAIN DIRECTIONS---------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */

.main__directions{
    padding-bottom: 178px;
}

.directions-inner {
    position: relative;
}

.directions-inner::before {
    position: absolute;
    content: "";
    top: 27px;
    left: -177px;
    display: block;
    background: url("../images/Elements/Group-of-point-gold.svg");
    width: 136px;
    height: 115px;
}

.directions-inner::after {
    position: absolute;
    content: "";
    top: 416px;
    right: -475px;
    display: block;
    background: url("../images/Elements/cirles-gold.svg");
    width: 243px;
    height: 243px;
    opacity: 0.3;
}

.directions-heading {
    padding-bottom: 90px;
}

.directions__filter-box {
    display: flex;
    padding-bottom: 56px;
}

.directions__filter-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: var(--gray600);
    background-color: transparent;
    padding: 5px 7px;
    border-radius: 4px;
    border: 1px solid var(--gray600);
}

.directions__filter-box :not(:last-child) button {
    margin-right: 57px;
}

.directions__filter-btn--active {
    border: none;
    padding: 6px 8px;
    background: var(--bg-button-liner);
    color: #FFF;
}

.directions__list {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    gap: 30px;
}

.directions__list-item {
    border-radius: 4px;
    border: 1px solid var(--gray300);
    overflow: hidden;
    transition: all 0.3s ease;
}

.directions__list-item--empty {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 74px;
    background-color: var(--gray200);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: var(--gray800);
}

.directions__list-item--marketing .directions__link-tag{
    background-color: #03cea4;
}

.directions__list-item--management .directions__link-tag{
    background-color: #5a87fc;

}

.directions__list-item--hr .directions__link-tag{
    background-color: #f89828;
 
}

.directions__list-item--design .directions__link-tag{
    background-color: #f52f6e;
 
}

.directions__list-item--development .directions__link-tag{
    background-color: #7772f1;
}

.directions__list-item:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 
                0 12px 10px -6px rgba(154, 156, 165, 0.04), 
                0 30px 24px -10px rgba(154, 156, 165, 0.05), 
                0 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.directions__list-item:hover .directions__link-btn  {
    color: var(--main-red);
}

.direction__image-box img {
    width: 100%;
    height: 100%;
}

.directions__link-content {
    padding: 24px 24px;
    font-size: 16px;
}

.directions__link-tag {
    display: inline-block;
    padding: 1px 8px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-weight: 700;
    line-height: 1.6;
    color: white;
    background-color: #777777;
}

.directions__link-text {
    font-weight: 400;
    line-height: 1.6;
    color: var(--gray700);
    margin-bottom: 20px;
}

.directions__link-btn {
    position: relative;
    display: inline;
    text-align: center;
    padding-right: 32px;
    font-weight: 700;
    line-height: 1.6;
    color: var(--gray900);
    transition: color 0.3s ease;
}

.directions__link-btn::after {
    position: absolute;
    content: "";
    top: 40%;
    right: 0;
    background: url(../images/Elements/right-arrow.svg);
    width: 24px;
    height: 24px;
    transform: translateY(-37%);
}


/* ---------------------------------------------Certificate/Award---------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */

.main__award {
    margin-bottom: -44px;
}

.award__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.award__inner::before {
    position: absolute;
    display: block;
    content: "";
    top: 20px;
    left: -214px;
    background: url("../images/Elements/rectangular-arrow-gold.svg") no-repeat;
    width: 60px;
    height: 60px;
}

.award__content {
    max-width: 392px;
}

.award__content-desc {
    padding: 48px 0 32px 0;
    font-size: 16px;
    line-height: 1.6;
    color: var(--gray800);
}

.award__logos {
    display: flex;
    justify-content: space-between;
}

.award__image-box {
    border-radius: 4px;
}

.award__image-box > img {
    border-radius: 4px;
    box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05), 
                0 12px 10px -6px rgba(154, 156, 165, 0.08), 
                0 30px 24px -10px rgba(154, 156, 165, 0.1), 
                0 80px 80px -20px rgba(154, 156, 165, 0.16);
    overflow: hidden;
}

/* ---------------------------------------------TEAM----------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */


.main__team {
    padding: 160px 0 180px 0;
    background: var(--gray200);
}

.team__heading {
    margin-bottom: 60px;
    position: relative;
}

.team__slider-arrows {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
}

.team__slider-arrow {
    line-height: 0;
    position: relative;
    display: block;
    border-radius: 50%;
    z-index: 5;
}

.team__slider-arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 48px;
    height: 48px;
    background-color: var(--main-red);
    border-radius: 50%;
    z-index: -1;
    transition: all .3s ease;

}

.team__slider-arrow path {
    transition: all .3s ease;
}

.team__slider-arrow:hover path {
    fill: #fff;
}

.team__slider-arrow:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.team__slider-prev {
    margin-right: 30px;
}

.team__slider .slick-list {
    margin: 0 -15px;
}

.team__slide {
    padding: 0 15px;
}

.team__slide:hover .team__socials {
    transform: translateY(0%);
}

.team__img-box {
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 16px;
    position: relative;
}

.team__img {
    position: relative;
    height: 340px;
}

.team__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team__socials {
    position: absolute;
    top: 0%;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
    background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.77) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1e212c 100%);
    transform: translateY(50%);
    transition: all .3s ease;

}

.team_socials-item:not(:last-child) {
    margin-right: 12px;
}

.team__socials-link {
    display: block;
    line-height: 0;
}

.team__socials-link path {
    transition: all .3s ease;
}

.team__socials-link:hover path {
    fill: #fff
}

.team__info {
    text-align: center;
}

.team__info-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: var(--gray800);
    margin-bottom: 4px;
}

.team__info-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--gray700);
}

/* ---------------------------------------------TESTIMONIALS------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */

.main__testimonals {
    background: var(--gray200);
}

.testimonials__heading {
    padding-bottom: 60px;
}

.testimonails__wrapper {
    display: flex;
    max-height: 344px;
    margin-bottom: 46.5px;
}

.testimonials__arrow {
    display: flex;
    align-items: center;
    
}


.testimonials__slider-prev {
    padding-right: 87px;
    position: relative;
    z-index: 5;
}

.testimonials__slider-prev::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    display: block;
    border-radius: 50%;
    background-color: var(--main-red);
    transform: translateX(-32%) scale(0);
    z-index: -1;
    transition: all .3s ease;

}

.testimonials__slider-prev:hover::before {
    transform: translateX(-32%) scale(1);
}

.testimonials__slider-prev path{
    transition: all .3s ease;
}

.testimonials__slider-prev:hover path{
    fill: #fff;
}

.testimonials__slider {
    min-width: 0;
    box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 
    0 12px 10px -6px rgba(154, 156, 165, 0.04), 
    0 30px 24px -10px rgba(154, 156, 165, 0.05), 
    0 80px 80px -20px rgba(154, 156, 165, 0.08);      
}

.testimonials__slide {
    background-color: #fff;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 4px;
    
}

.testimonials__slide-inner {
    padding: 64px 105px 64px 163px;
    position: relative;
}

.testimonials__slide-inner::before {
    content: "";
    position: absolute;
    top: 63px;
    left: 78px;
    width: 28px;
    height: 20px;
    display: block;
    background: url("../images/Elements/braces.svg");
}

.testimonials__quote {
    font-size: 20px;
    color: var(--gray800);
    margin-bottom: 24px;
}

.testimonials__info-box {
    display: flex;
    align-items: center;
}

.testimonials__img-box img {
    border-radius: 50%;
    overflow: hidden;
}

.testimonial__person {
    padding-left: 20px;
}

.testimonial__person-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    color: var(--gray900);
}

.testimonial__person-position {
    font-size: 14px;
    color: var(--gray700);
}

.testimonials__slider-next {
    padding-left: 87px;
    position: relative;
    z-index: 5;
}

.testimonials__slider-next::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    display: block;
    border-radius: 50%;
    background-color: var(--main-red);
    transform: translateX(-32%) scale(0);
    z-index: -1;
    transition: all .3s ease;

}

.testimonials__slider-next:hover::before {
    transform: translateX(-32%) scale(1);
}

.testimonials__slider-next path{
    transition: all .3s ease;
}

.testimonials__slider-next:hover path{
    fill: #fff;
}

.testimonials__dots .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials__dots li:not(:last-child) {
    margin-right: 12px;
}

.testimonials__dots .slick-active button::before {
    background-color: var(--gray800);
}

.testimonials__dots button {
    font-size: 0;
    background-color: transparent;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
}


.testimonials__dots button::before {
    content: "";
    height: 3px;
    width: 100%;
    background-color: var(--gray500);
    border-radius: 3px;
    transition: all .3s ease;
}

/* ---------------------------------------------COMPANIES---------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */


.main__companies {
    padding: 180px 0 177px 0;
    background: var(--gray200);
}

.companies__heading {
    padding-bottom: 60px;
}

.companies__grid {
    display: grid;
    grid-template: repeat(2, auto) / repeat(6, 1fr);
    gap: 40px 100px
}

.companies__grid-link {
    display: block;
}

.companies__grid-link img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    opacity: 0.6;
    transition: all 1.3s ease;
}

.companies__grid-link:hover img {
    filter: grayscale(0);
    opacity: 1;
    transition: all .3s ease;
}


/* ---------------------------------------------COURSE------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */

.cousre__heading {
    padding: 116px 0 60px 0;
}

.course__content {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 1.5;
}

.cousre__lesson-list {
    font-weight: 400;
    max-width: 600px;
}

.cousre__lesson-link {
    display: block;
    font-weight: 700;
    color: var(--gray900);
    padding-left: 40px;
}

.cousre__lesson-link span {
    color: var(--main-red);
    padding-right: 8px;
}

.cousre__lesson-head {
    position: relative;
}

.cousre__lesson-head::before,
.cousre__lesson-head::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -40px;
    width: 18px;
    height: 2px;
    background-color: var(--main-red);
    display: block;
    border-radius: 2px;
}

.cousre__lesson-head::after {
    transform: rotate(90deg);
    transition: all .3s;
}

.cousre__lesson-link--active .cousre__lesson-head::after {
    transform: rotate(0deg);
}

.cousre__lesson-link--active .cousre__lesson-desc {
    display: block;
}

.cousre__lesson-desc {
    display: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--gray800);
    padding: 16px 0 24px 0;
}

.cousre__img-box {
    align-self: center;
}




