html, body {
  font-family: Lato, sans-serif;
}

:root {
  --bg-button-liner: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
}

body {
  height: 100vh;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}



.button {
  display: inline-block;
  font-size: 16px;
  padding: 0px 40px;
  background: var(--bg-button-liner);
  line-height: 52px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.5px;
  border-radius: 4px;
  white-space: nowrap;
  transition: transform 0.3s ease;

  cursor: pointer;
}

.button:hover {
  transform: scale(1.05);
}

.button--empty {
  background-image: none;
  border-left: 2px solid #ff3f3a;
  border-right: 2px solid #f75e05;
  /* background-image: -webkit-linear-gradient(left, #ff3f3a, #f75e05), -webkit-linear-gradient(left, #ff3f3a, #f75e05);
  background-image: linear-gradient(left, #ff3f3a, #f75e05), linear-gradient(left, #ff3f3a, #f75e05); */
  background-image: linear-gradient(to right, #ff3f3a, #f75e05), 
                    linear-gradient(to right, #ff3f3a, #f75e05);
  background-size: 100% 2px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;

  cursor:pointer;
}

.button--empty span {
  background: var(--bg-button-liner);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.logo {
  cursor: pointer;
}

.heading {
  color: #1E212C;
}


.heading :first-child {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.heading :last-child {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
}


/* --------HEADER-TOP----------- */

.header {
  background-color: #feddd0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header__top {
  padding: 20px 0 0 0;
}


.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: #424551;
  font-size: 16px;
}

.header__logo {
  margin-right: 60px;
}

.header__nav {
  margin-right: auto;
}
.header__btn-box {
  display: flex;
  align-items: center;
}
.header__nav-list {
  display: flex;
}

.header__nav-list li {
  margin-right: 40px;
}

.header__nav-list li:last-child {
  margin-right: 0;
}


.header__user {
  white-space: nowrap;
  position: relative;
  padding: 0 0 0 28px;
  margin-left: 36px;
  line-height: 1.6;

}

.header__user::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  background: url(../images/Elements/Profile.svg);
  width: 20px;
  height: 20px;
  transform: translateY(-50%);

}


:is(.header__user-btn, .header__nav-link) {
  transition: color 0.3s ease;
}

:is(.header__user-btn, .header__nav-link):hover {
  color: #ff3f3a;
}


/* --------HEADER-BODY----------- */

.header__body {
  flex-grow: 1;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.header__main {
  display: flex;
  justify-content: space-between;
  margin: auto 0;
}

.header__content {
  /* margin-right: 180px; */
  max-width: 496px;
}

.header__play {
  display: inline-flex;
  align-items: center;
  height: 84px;
  font-size: 14px;
  font-weight: 700;
  color: #1E212C;
  line-height: 1.5;
}

.header__play svg {
  margin-right: 16px;
  border-radius: 50%;
  transition: box-shadow 0.3s ease;
}

.header__play:hover svg {
  box-shadow: 0 0 0px 16px rgba(255, 63, 58, 0.12);
}


.header__title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: 0.02em;
  min-width: 14ch;
  margin-bottom: 60px;
  color: #1E212C;
}

.header__content-buttons {
  display: flex;
}

.header__content-btn:first-child {
  margin-right: 24px;
}



.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1E212C;
  margin-bottom: 80px;
  
}

.header__row > span {
  background-color: #ff3f3a;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 10px;
}

.header__row-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.header__row span {
  font-size: 46px;
  font-weight: 900;
  line-height: 1.3;
}


/* --------MAIN-ABOUT----------- */


.main__about {
  margin-top: 179px;
}

.main__about-inner {
  display: flex;
  justify-content: space-between;
}
.main__about-info {
}
.main__about-heading {
  margin-bottom: 48px;
}

.main__about-desc {
  margin-bottom: 60px;
}

.main__about-desc :nth-child(1) {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1E212C;
  max-width: 50ch;
  margin-bottom: 24px;
}

.main__about-desc :nth-child(2) {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #424551;
  max-width: 64ch;
}

.main__about-buttons {
  display: flex;
  gap: 24px;
}



/* --------MAIN-NUMBERS----------- */

.main__numbers-sec {
  margin-top: 179px;
}

.main__numbers-sec-inner {
  display: flex;
  justify-content: space-between;
}

.main__numbers-sec-img{
  border-radius: 4px;
  overflow: hidden;
}

.main__numbers-sec-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-numbers-sec-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 10px;
  align-self: center;
}

.main-numbers-sec-item  {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #1E212C;
}

.main-numbers-sec-item span {
  font-weight: 900;
  font-size: 48px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #FF3F3A;
}

